<!-- <ng-container 
*ngIf="router.url === '/'  ||
router.url === '/login'  || 
router.url === '/login-username'  || 
router.url === '/login-seed-phrase' ; then loginHeader ; else infoHeader"
>
</ng-container>

<ng-template #loginHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
        </div>
    </header>
</ng-template>

<ng-template #infoHeader>
    <header>
        <div class="main_container">
            <a href="" class="logo"><img src="assets/images/logo-blue.png" alt=""></a>
            <div class="custom_button"><a href="">Next page</a></div>
        </div>
    </header>
</ng-template> -->


<ng-container 
*ngIf="router.url === '/'  || 
router.url === '/history'  || 
router.url === '/strato-partner-node-license'  || 
router.url === '/strato-partner-nodes' ; then mainHeader ; else blankHeader"
>
</ng-container>
<ng-template #mainHeader>
    <header class="custom-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 align-self-center">
              <nav class="navbar navbar-expand-lg"> 
                <a class="navbar-brand" href="#">
                  <img src="assets/images/new-images/logo.png" alt="">
                </a>
                <ul class="header-button-wrap header-button-wrap-for-mobile">
                  <li class="header-btn">
                    <a href="#" class="btn custom-btn custom-btn-fill">Login</a>
                  </li>
                  <li class="header-btn">
                    <a href="#" class="btn custom-btn custom-btn-outline">Sign Up</a>
                  </li>
                </ul>
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link" href="index.html">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="strato-partner-nodes.html">Nodes</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">"Get STRATO" Discord</a> </li>
                  </ul>
            
                    <!-- <li class="nav-item"> <a class="nav-link" href="#">Login</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Sign Up</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li> -->
                 
                </div>
              </nav>
            </div>
            <div class="col-lg-4 align-self-center">
              <div class="header-right"> 
                      <ul class="header-button-wrap">
                        <li class="header-btn">
                          <a href="#" class="btn custom-btn custom-btn-fill">Login</a>
                        </li>
                        <li class="header-btn">
                          <a href="#" class="btn custom-btn custom-btn-outline">Sign Up</a>
                        </li>
                      </ul>
                    <ul class="header-socials-wrap">
                      <li class="header-social">
                        <a href="#" class="header-social-icon"><span><i class="fab fa-facebook-f"></i></span></a>
                      </li>
                      <li class="header-social">
                        <a href="#" class="header-social-icon"><span><i class="fab fa-twitter"></i></span></a>
                      </li>
                      <li class="header-social">
                        <a href="#" class="header-social-icon"><span><i class="fab fa-linkedin-in"></i></span></a>
                      </li>
                      <li class="header-social">
                        <a href="#" class="header-social-icon"><span><i class="fab fa-instagram"></i></span></a>
                      </li>
                    </ul>
              </div>
            </div>
          </div>
        </div>  
      </header>
</ng-template>
<ng-template #blankHeader></ng-template>




   

