<div class="history-table">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 order-lg-2 order-2 align-self-center">
                <div class="history-list-wrap">
                    <ul class="history-list">
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/clock.png" alt=""> 
                            <span class="history-time">3 hours ago</span>
                           </div>
                            Icon Distribution Reward 105k STRATO [Strato Chain]
                        </li>
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/clock.png" alt="">
                            <span class="history-time">Yesterday</span>
                           </div>
                            Icon Distribution Reward 104k STRATO [Strato Chain]
                        </li>
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/clock.png" alt="">
                            <span class="history-time">2 days ago</span>
                           </div>
                            Icon Distribution Reward 106k STRATO [Strato Chain]
                        </li>
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/clock.png" alt="">
                            <span class="history-time">6 days ago</span>
                           </div>
                            Icon Distribution Reward 106k STRATO [Strato Chain]
                        </li>
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/calendar.png" alt="">
                            <span class="history-time">12/03/21</span>
                           </div>
                            Icon Distribution Reward 106k STRATO [Strato Chain]
                        </li>
                        <li class="history-item">
                           <div class="history-item-about">
                               <img class="history-item-img" src="../../../../assets/images/new-images/calendar.png" alt="">
                            <span class="history-time">11/03/21</span>
                           </div>
                            Icon Distribution Reward 106k STRATO [Strato Chain]
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </div>