<section class="custom-banner buy-nodes-banner custom-pad">
    <div id="parallax-banner">
      <!-- this div for parallax effect-->
    </div>
    <div class="banner-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-self-center">
            <div class="custom-banner-content">
                  <div class="main-heading">
                    <!-- <h1>Strato Partner Node</h1> -->
                     
                  </div>
                  <div class="col-lg-4 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item m-0"><a href="index.html"><span><i class="fa fa-home" aria-hidden="true"></i>
                          </span>Home</a></li>
                          <li class="breadcrumb-item m-0 active" aria-current="page">Nodes 2</li>
                        </ol>
                      </nav>
                  </div>
                  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
    
    <div class="wave-area">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </section>


<section class="partner-license custom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="custom-heading">
          <h3>Strato Partner Node License</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="strato-node-image text-center">
          <img src="../../../assets/images/new-images/run-a-partner-bg.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cloud-storage-r-buttons">
          <div class="row">
            <div class="col-lg-6 col-md-6 pr-1  align-self-center">
              <div class="cs-download-starto text-center">
                <a href="#" class="cs-button custom-btn-fill">Licence for Starto Partner Node</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6  pl-1 align-self-center">
              <div class="cs-create-an-account text-center">
                <span href="#" class="cs-button custom-btn-outline">Compatible with Windows, MacOS and Linux</span>
              </div>
            </div>
          </div>
        </div>
        <div class="license-checkboxes">
          <form class="custom-license-form">
            <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Quantity</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="custom-input-price">
                <label class="custom-input-group-text" for="inputGroupSelect01">$200</label>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a> </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I understand that Strato Partner Nodes are not investments</label>
            </div>
            <div class="row">
              <div class="col-lg-12 align-self-center text-left">
                <div class="cs-download-license text-left">
                  <a href="#" class="cs-button custom-btn-fill">Place Order</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> 