<section class="custom-banner buy-nodes-banner custom-pad">
    <div id="parallax-banner">
      <!-- this div for parallax effect-->
    </div>
    <div class="banner-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-self-center">
            <div class="custom-banner-content">
                  <div class="main-heading">
                    <!-- <h1>Strato Partner Node</h1> -->
                     
                  </div>
                  <div class="col-lg-4 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item m-0"><a href="index.html"><span><i class="fa fa-home" aria-hidden="true"></i>
                          </span>Home</a></li>
                          <li class="breadcrumb-item m-0 active" aria-current="page">Nodes 2</li>
                        </ol>
                      </nav>
                  </div>
                  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
    
    <div class="wave-area">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </section>
<section class="buy-nodes custom-pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-1 order-2 align-self-center">
                <div class="custom-heading">
                    <h3>Be part of the Strato ecosystem and receive STRATO</h3>
                    <p class="global-text">Strato Partner nodes are at the core of the Strato ecosystem. Be part fo the most exciting opportunity in the Cloud Computing space by purchasing and operating a Partner Node licence and earn your daily STRATO rewards.</p>
                </div>
                <div class="bn-buy-now-starto">
                   <a routerLink="/strato-partner-nodes-license" class="cs-button custom-btn-fill">Buy Now</a>
                   <a href="#" class="cs-button custom-btn-outline">Learn More</a>
                 </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 align-self-center">
               <div class="buy-nodes-img text-center">
                   <img src="../../../assets/images/new-images/node-page-1-img.png" alt="">
               </div>
            </div>
        </div>
    </div>
</section> 