<section class="custom-banner buy-nodes-banner custom-pad">
    <div id="parallax-banner">
      <!-- this div for parallax effect-->
    </div>
    <div class="banner-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 align-self-center">
            <div class="custom-banner-content">
                  <div class="main-heading">
                    <!-- <h1>Strato Partner Node</h1> -->
                     
                  </div>
                  <div class="col-lg-4 text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item m-0"><a href="index.html"><span><i class="fa fa-home" aria-hidden="true"></i>
                          </span>Home</a></li>
                          <li class="breadcrumb-item m-0 active" aria-current="page">Nodes 2</li>
                        </ol>
                      </nav>
                  </div>
                  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
    
    <div class="wave-area">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </section>
<app-history-top-wraper></app-history-top-wraper>
<app-history-table></app-history-table>